.form {
  margin: var(--space-4);
}

.formBody {
  align-items: stretch;
  display: flex;
  gap: var(--space-2);
}

.formField {
  border-color: var(--colors-primary);
  border-radius: 8px;
  flex-grow: 1;
  font-size: 16px;
  opacity: 1;
  padding: var(--space-1) var(--space-3);
  width: 100%;
}

.formField:disabled {
  opacity: 0.3;
}
